<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for category in navigation.getMenu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('flow_show', {'id' : category.id}) }}">{{ category.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% include 'article/sub/search.html.twig' %}
    </div>
    {% if is_granted('ROLE_USER') %}
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.name }}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('app_logout') }}">Выйти</a>
        </div>
    </div>
    {% endif %}
</nav>

