<form class="form-inline" action="{{ path('search_articles') }}">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="query" placeholder="Искать">

    <button type="submit" class="btn btn-primary mb-2">Поиск</button>
</form>